

<div class="row">
    <div class="col center-align">
    <h1>BURGER TIME</h1>
    <input type="text" name="newBurger">
    <button>Submit</button>



{{!-- close the column --}}
</div>
{{!-- close the row --}}
</div> 